:root {
	--font-sans: "Arial", "PingFang SC", "Droid Sans", "Microsoft YaHei", "Calibri", sans-serif;
	--font-monospace: "Consolas", "Droid Sans Mono", "Courier New", "Monaco", "Lucida Console", monospace;
}

body, body * {
	all: unset;
	box-sizing: border-box;
}
div, article, aside, header, section, iframe { display: block; }
template, script { display: none; }

html {
	height: 100%;
	background-color: #eeeeee;
}
body {
	display: flex;
	margin: 0 auto;
	min-width: 90%;
	width: 1200px;
	max-width: 100%;
	min-height: 100%;
	
	flex-direction: column;
	font-family: var(--font-sans);
	
	background-color: #ffffff;
	color: #333333;
}

#nav, #main, #player {
	display: flex;
	padding: 0 6%;
}
@media screen and (max-width: 800px) {
	#nav, #main, #player { padding: 0 20px; }
}
@media screen and (max-width: 540px) {
	#player { padding: 0; }
}

#nav, #player {
	position: sticky;
	z-index: 1;
	background-color: #ffffff;
}
#nav { top: 0; }
#player { bottom: 0; }

#main {
	position: relative;
	z-index: 0;
	
	flex-grow: 1;
	
	align-items: flex-start;
	overflow: hidden;
}

#main> .main-sidebar {
	position: relative;
	
	margin: 20px 40px 0 0;
	width: 120px;
	flex-grow: 1;
	
	overflow: hidden;
	
	background-color: #ffffff;
}
@media screen and (max-width: 800px) {
	#main> .main-sidebar { margin-right: 20px; }
}
#main> .main-main {
	margin-top: 20px;
	width: 200px;
	flex-grow: 6;
}

@media screen and (max-width: 540px) {
	#main {
		display: block;
	}
	#main> .main-sidebar, #main> .main-main {
		width: 100%;
	}
	#main> .main-sidebar {
		margin: 0;
	}
}
