#nav {
	height: 60px;
	align-items: center;
	overflow: hidden;
}

#nav> .nav-logo {
	margin-right: 20px;
	height: 40px;
}
@media screen and (max-width: 540px) {
	#nav> .nav-logo { margin-right: 10px; }
}

#nav .nav-item {
	padding: 5px 10px;
	cursor: pointer;
	transition: color 0.3s;
}
#nav .nav-item.icon { font-size: 20px; }
#nav .nav-item.block-active { font-weight: 600; }
#nav .nav-item:not(.block-active):hover { color: #ff4411; }

#nav .nav-avatar {
	margin: 0 5px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	
	background-color: #eeeeee;
	user-select: none;
}

#nav> .nav-side {
	flex-grow: 1;
	display: flex;
	margin-left: 5px;
	
	justify-content: flex-end;
	align-items: center;
}

@media screen and (max-width: 540px) {
	#nav {
		border-bottom: 2px solid #ff4411;
		align-items: flex-end;
	}
	#nav> .nav-logo, #nav> .nav-side {
		align-self: center;
	}
	#nav .nav-item {
		padding: 5px;
	}
	#nav .nav-item.block-active {
		border-bottom: 3px solid #ff4411;
		padding-bottom: 2px;
		
		font-size: 150%;
		font-weight: 500;
	}
}

#main .main-menu {
	display: block;
	margin: 15px;
}
#main .main-menu> li {
	display: block;
	margin-bottom: 10px;
	padding: 5px 0;
	
	font-weight: 300;
	
	cursor: pointer;
}
#main .main-menu> li:last-child { margin-bottom: 0; }
#main .main-menu> li.block-active {
	border-bottom: 3px solid #333333;
	padding-bottom: 2px;
	font-weight: 600;
}

@media screen and (max-width: 540px) {
	#main .main-menu {
		display: flex;
		margin: 15px 0;
		flex-wrap: wrap;
	}
	#main .main-menu> li {
		width: 50%;
		flex-grow: 1;
	}
}

#main [class^="main-cover"] {
	position: relative;
	z-index: 0;
	
	margin: 15px 0;
	padding-bottom: 100%;
}

#main .main-cover-album, #main .main-cover-list {
	margin-right: 5%;
	padding-bottom: 95%;
}
#main .main-cover-album::after {
	position: absolute;
	left: 10%;
	top: 0;
	z-index: -1;
	
	width: 96%;
	height: 100%;
	border-radius: 50%;
	
	content: "";
	
	background-color: #333333;
}
#main .main-cover-list::before, #main .main-cover-list::after {
	position: absolute;
	border-radius: 2px;
	content: "";
	background-color: #88888833;
}
#main .main-cover-list::before {
	left: 0;
	top: 8%;
	z-index: -1;
	
	width: 103%;
	height: 84%;
}
#main .main-cover-list::after {
	left: 0;
	top: 14%;
	z-index: -2;
	
	width: 105%;
	height: 72%;
}

#main [class^="main-cover"]> img, #main [class^="main-cover"]> img::before {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	border-radius: 2px;
	
	background-color: #eeeeee;
	object-fit: contain;
}
#main [class^="main-cover"]> img::before {
	content: "";
	background-image: url("image-broken.svg");
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
}

#main [class^="main-cover"]> span {
	position: absolute;
	right: 5px;
	top: 5px;
	
	border-radius: 2px;
	padding: 0 5px;
	
	font-size: 80%;
	
	background-color: #00000066;
	color: #f7f7f7;
}

@media screen and (max-width: 540px) {
	#main> *> [class^="main-cover"] {
		margin: 15px auto;
		width: 200px;
		padding-bottom: 200px;
	}
}

#main .main-infolist {
	display: block;
	margin: 15px 0;
}
#main .main-infolist> div {
	display: flex;
	margin-bottom: 5px;
	align-items: baseline;
}
#main .main-infolist> div:last-child { margin-bottom: 0; }
#main .main-infolist> div> dt {
	flex-basis: 4.0em;
	margin-right: 0.5em;
	
	font-weight: 300;
	white-space: nowrap;
	
	color: #888888;
}
#main .main-infolist> div> dd {
	flex-grow: 1;
	margin-left: 5px;
	
	font-weight: 400;
	white-space: nowrap;
}

#main .main-banner {
	position: relative;
	display: block;
	margin: -20px 0 15px 0;
}
#main .main-banner> img:nth-child(2) {
	display: block;
	width: 100%;
}
#main .main-banner> img:first-child, #main .main-banner> img:last-child {
	position: absolute;
	top: 0;
	height: 100%;
}
#main .main-banner> img:first-child { right: 100%; }
#main .main-banner> img:last-child { left: 100%; }

#main .main-title {
	display: block;
	margin: 15px 0;
}
#main h1.main-title {
	font-size: 1.5em;
	font-weight: 600;
}
#main h2.main-title {
	font-size: 1.4em;
	font-weight: 500;
}

#main .main-user {
	display: flex;
	margin: 15px 0;
	align-items: center;
}
#main .main-user> img {
	margin-right: 5px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	
	overflow: hidden;
	
	background-color: #eeeeee;
	object-fit: cover;
}
#main .main-user> span {
	padding: 5px;
	font-size: 0.9em;
}

#main .main-flow {
	display: grid;
	margin: 15px 0;
	
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
}
#main .main-flow> figure {
	padding: 10px;
	cursor: pointer;
}
#main .main-flow> figure:hover { background-color: #eeeeee; }
#main .main-flow> figure> [class^="main-cover"] {
	margin-top: 0;
}
#main .main-flow> figure> figcaption {
	display: block;
	margin-bottom: 10px;
	font-weight: 600;
}

#player {
	height: 80px;
}

#player> .player-top {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transform: translateY(-50%);
	
	width: 100%;
	padding: 5px 40px;
	
	overflow: hidden;
	
	cursor: ew-resize;
	user-select: none;
}
#player> .player-top> .player-progress {
	position: relative;
	transform: translateX(-50%);
	
	display: block;
	width: 80px;
	border-radius: 10px;
	
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	
	background-color: #333333;
	color: #f7f7f7;
	box-shadow: 2px 2px 5px #00000033;
}
#player> .player-top> .player-progress::before, #player> .player-top> .player-progress::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	
	width: 100vw;
	border-top: 2px solid #cccccc;
	
	content: "";
}
#player> .player-top> .player-progress::before {
	right: 100%;
	border-top-color: #ff4411;
}
#player> .player-top> .player-progress::after {
	left: 100%;
}

#player> .player-side {
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	align-items: center;
}
#player> .player-side:last-child { justify-content: flex-end; }
#player> .player-control {
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	align-items: center;
}

#player .player-cover {
	position: relative;
	
	flex-shrink: 0;
	margin-right: 5px;
	width: 80px;
	height: 80px;
	
	background-color: #eeeeee;
	object-fit: contain;
}
#player .player-cover::before {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	
	content: "";
	background-image: url("image-broken.svg");
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #eeeeee;
}

#player .player-info {
	margin: 0 5px;
	max-width: 140px;
	overflow: hidden;
}
#player .player-info> span {
	display: block;
	margin-bottom: 5px;
	width: max-content;
}
#player .player-info> span:nth-child(2) {
	font-size: 0.8em;
	color: #888888;
}

#player .player-item, #player .player-control-side {
	padding: 5px;
	font-size: 24px;
	cursor: pointer;
}

#player .player-control-center {
	margin: 0 5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	
	font-size: 34px;
	line-height: 50px;
	text-align: center;
	
	background-color: #ff4411;
	color: #ffffff;
	cursor: pointer;
}

@media screen and (max-width: 540px) {
	#player {
		height: 70px;
	}
	#player .player-cover {
		width: 70px;
		height: 70px;
	}
	#player .player-info {
		width: 100px;
		font-size: 90%;
	}
	#player .player-info> span {
		animation: scroll 4s linear infinite;
	}
	#player .player-control-center {
		width: 40px;
		height: 40px;
		
		font-size: 28px;
		line-height: 40px;
	}
}
@keyframes scroll {
	0% { transform: translateX(0); }
	40% { transform: translateX(0); }
	90% { transform: translateX(-100%); }
	100% { transform: translateX(-100%); }
}
