/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.block-content {
	display: block;
	
	font-family: var(--font-sans);
	font-weight: 400;
	
	--spacing: 15px;
}

.block-content> h1, .block-content> h2, .block-content> h3,
.block-content> p, .block-content> blockquote, .block-content> code,
.block-content> ul, .block-content> ol, .block-content> dl, .block-content> img {
	display: block;
	margin: var(--spacing) 0;
}
.block-content> *:first-child { margin-top: calc(var(--spacing) / 3); }
.block-content> *:last-child { margin-bottom: calc(var(--spacing) / 3); }

.block-content> h1 {
	font-size: 1.5em;
	font-weight: 600;
}
.block-content> h2 {
	font-size: 1.4em;
	font-weight: 500;
}
.block-content> h3 {
	font-size: 1.2em;
	font-weight: 500;
}

.block-content> p, .block-content> blockquote {
	font-weight: 300;
}

.block-content> blockquote, .block-content> code {
	border-left: 5px solid #cccccc;
	padding: calc(var(--spacing) / 3);
	box-shadow: 2px 2px 5px #00000033;
}
.block-content> code {
	border-left-color: #cc66ff;
	font-family: var(--font-monospace);
}

.block-content> ul, block-content> ol {
	padding-left: 1.5em;
}
.block-content> ul> li, block-content> ol> li {
	display: list-item;
}

.block-content> dl dt, .block-content> dl dd {
	display: block;
}
.block-content> dl dt {
	font-weight: 300;
}
.block-content> dl dd {
	margin: 0 0 calc(var(--spacing) / 3) 1.5em;
}

.block-content> img {
	margin: var(--spacing) auto;
	max-width: 100%;
	max-height: 60vh;
	border-radius: 2px;
	background-color: #eeeeee;
}
.block-content> p img, .block-content> blockquote:not(.block-content) img,
.block-content> ul img, .block-content> ol img, .block-content> dl img {
	display: inline;
	margin: 0 10px;
	max-height: 120px;
	background-color: #eeeeee;
}

.block-content> p a, .block-content> blockquote:not(.block-content) a,
.block-content> ul a, .block-content> ol a, .block-content> dl a {
	border-bottom: 1px solid #ff8866;
	cursor: pointer;
	transition: border-color 0.3s, color 0.3s;
}
.block-content> p a:hover, .block-content> blockquote:not(.block-content) a:hover,
.block-content> ul a:hover, .block-content> ol a:hover, .block-content> dl a:hover {
	border-color: #ff4411;
	color: #ff4411;
}

.block-content> p q, .block-content> blockquote:not(.block-content) q,
.block-content> ul q, .block-content> ol q, .block-content> dl q {
	font-family: var(--font-monospace);
}
.block-content q::before, .block-content q::after { content: none; }
