/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

body, body * {
	all: unset;
	box-sizing: border-box;
}
body, header, main, footer,
article, aside, nav, section,
div, iframe {
	display: block;
}
template, style, script {
	display: none;
}

:root {
	--font-sans: "Arial", "PingFang SC", "Droid Sans", "Microsoft YaHei", "Calibri", sans-serif;
	--font-monospace: "Consolas", "Droid Sans Mono", "Courier New", "Monaco", "Lucida Console", monospace;
}

html {
	height: 100%;
	background-color: #eeeeee;
}
body {
	display: flex;
	margin: 0 auto;
	min-width: min(90%, 180vh);
	width: 1280px;
	max-width: 100%;
	min-height: 100%;
	
	flex-direction: column;
	font-family: var(--font-sans);
	
	background-color: #ffffff;
	color: #333333;
}

body> :is(#nav, #main, #player) {
	padding: 0 6%;
}
@media screen and (max-width: 800px) {
	body> :is(#nav, #main, #player) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width: 540px) {
	body> #player {
		padding-left: 0;
		padding-right: 0;
	}
}

body> #nav, body> #player {
	z-index: 1;
	background-color: #ffffff;
}
@media screen and (min-height: 480px) {
	body> #nav {
		position: sticky;
		top: 0;
	}
}
body> #player {
	position: sticky;
	bottom: 0;
}

#main {
	position: relative;
	z-index: 0;
	
	display: flex;
	flex-grow: 1;
	
	align-items: flex-start;
	overflow: hidden;
}

#main> .main-sidebar {
	position: relative;
	z-index: 1;
	
	margin: 20px 40px 0 0;
	width: 160px;
	flex-grow: 1;
	padding: 15px;
	
	contain: layout;
	overflow: hidden;
	
	background-color: #ffffff;
}
@media screen and (max-width: 800px) {
	#main> .main-sidebar { margin-right: 20px; }
}
#main> .main-main {
	position: relative;
	
	margin-top: 20px;
	width: 320px;
	padding: 15px 0;
	flex-grow: 6;
	
	contain: layout;
}

@media screen and (max-width: 540px) {
	#main {
		display: block;
	}
	#main> .main-sidebar, #main> .main-main {
		width: 100%;
	}
	#main> .main-sidebar {
		margin: 0;
	}
}
