/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.block-main {
	display: block;
	
	font-family: var(--font-sans);
	font-weight: 400;
	
	--spacing: 15px;
}

.block-main> .main-menu {
	display: block;
	margin: var(--spacing);
}
.block-main> .main-menu> li {
	display: block;
	margin-bottom: calc(var(--spacing) * 2 / 3);
	padding: 5px 0;
	
	font-weight: 300;
	
	cursor: pointer;
}
.block-main> .main-menu> li:last-child { margin-bottom: 0; }
.block-main> .main-menu> li.block-active {
	border-bottom: 3px solid #333333;
	padding-bottom: 2px;
	font-weight: 600;
}

@media screen and (max-width: 540px) {
	.block-main> .main-menu {
		display: flex;
		margin-left: 0;
		margin-right: 0;
		flex-wrap: wrap;
	}
	.block-main> .main-menu> li {
		width: 50%;
		flex-grow: 1;
	}
}

.block-main> [class^="main-cover"] {
	position: relative;
	z-index: 0;
	
	margin: var(--spacing) 0;
	padding-bottom: 100%;
}

.block-main> .main-cover-album, .block-main> .main-cover-list {
	margin-right: 5%;
	padding-bottom: 95%;
}
.block-main> .main-cover-album::after {
	position: absolute;
	left: 10%;
	top: 0;
	z-index: -1;
	
	width: 95%;
	height: 100%;
	border-radius: 50%;
	
	content: "";
	
	background-color: #333333;
}
.block-main> .main-cover-list::before, .block-main> .main-cover-list::after {
	position: absolute;
	border-radius: 2px;
	content: "";
	background-color: #88888833;
}
.block-main> .main-cover-list::before {
	left: 19%;
	top: 8%;
	z-index: -1;
	
	width: 84%;
	height: 84%;
}
.block-main> .main-cover-list::after {
	left: 33%;
	top: 14%;
	z-index: -2;
	
	width: 72%;
	height: 72%;
}

@media screen and (max-width: 540px) {
	.block-main> [class^="main-cover"] {
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		padding-bottom: 200px;
	}
}

.block-main> [class^="main-cover"]> img, .block-main> [class^="main-cover"]> img::before {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	border-radius: 2px;
	
	background-color: #eeeeee;
	object-fit: contain;
}
.block-main> [class^="main-cover"]> img::before {
	content: "";
	background-image: url("image-broken.svg");
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
}

.block-main> [class^="main-cover"]> span {
	position: absolute;
	right: 5px;
	top: 5px;
	
	height: 16px;
	border-radius: 2px;
	padding: 0 5px;
	
	font-size: 12px;
	line-height: 16px;
	
	background-color: #00000066;
	color: #f7f7f7;
}

.block-main> .main-infolist {
	display: grid;
	margin: var(--spacing) 0;
	
	grid-template-rows: repeat(1000, auto);
	grid-template-columns: minmax(4.0em, auto) 1fr;
	align-items: baseline;
	
	font-size: 0.9em;
}
.block-main> .main-infolist> dt {
	grid-column: 1;
	
	margin-right: 1.0em;
	
	font-weight: 300;
	white-space: nowrap;
	
	color: #888888;
}
.block-main> .main-infolist> dd {
	grid-column: 2;
	
	margin-bottom: calc(var(--spacing) / 3);
	
	font-weight: 400;
	white-space: nowrap;
}
.block-main> .main-infolist> dd:last-child { margin-bottom: 0; }

.block-main> .main-banner {
	position: relative;
	display: block;
	margin: -20px 0 var(--spacing) 0;
}
.block-main> .main-banner> img:nth-child(2) {
	display: block;
	width: 100%;
}
.block-main> .main-banner> img:first-child, .block-main> .main-banner> img:last-child {
	position: absolute;
	top: 0;
	z-index: -1;
	height: 100%;
}
.block-main> .main-banner> img:first-child { right: 100%; }
.block-main> .main-banner> img:last-child { left: 100%; }

.block-main> .main-title {
	display: block;
	margin: var(--spacing) 0;
}
.block-main> h1.main-title {
	font-size: 1.5em;
	font-weight: 600;
}
.block-main> h2.main-title {
	font-size: 1.4em;
	font-weight: 500;
}

.block-main> .main-user {
	display: flex;
	margin: var(--spacing) 0;
	overflow-x: auto;
	align-items: center;
}
.block-main> .main-user> img {
	margin-right: 5px;
	width: 35px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 50%;
	
	overflow: hidden;
	
	background-color: #eeeeee;
	object-fit: cover;
}
.block-main> .main-user> span {
	margin-right: calc(var(--spacing) + 5px);
	padding: 5px;
}
.block-main> .main-user> span:last-child { margin-right: 0; }

.block-main> [class^="main-flow"] {
	display: grid;
	margin: var(--spacing) 0;
	
	justify-items: center;
	grid-gap: 0 calc(var(--spacing) * 2 / 3);
	grid-template-columns: repeat(auto-fill, minmax(calc(90px + 2vw), auto));
}
.block-main> .main-flow-list, .block-main> .main-flow-style {
	grid-template-columns: repeat(auto-fill, minmax(calc(150px + 6vw), auto));
}

.block-main> [class^="main-flow"].block-clamp {
	grid-template-rows: repeat(2, auto);
	grid-auto-rows: 0;
	overflow: hidden;
}

.block-main> [class^="main-flow"]> figure {
	margin: 0 0 var(--spacing) 0;
	width: 100%;
	cursor: pointer;
	--spacing: 10px;
}

.block-main> .main-flow-list> figure {
	padding: var(--spacing);
	background-color: #333333;
	color: #f7f7f7;
}
.block-main> .main-flow> figure:hover { background-color: #eeeeee; }
.block-main> .main-flow-list> figure:hover { background-color: #000000; }

@media screen and (max-width: 540px) {
	.block-main> .main-flow, .block-main> .main-flow-list {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1440px) {
	.block-main> [class^="main-flow"] {
		grid-template-columns: repeat(auto-fill, minmax(calc(6vw + 30px), auto));
	}
	.block-main> .main-flow-list { grid-template-columns: repeat(auto-fill, minmax(calc(10vw + 90px), auto)); }
	.block-main> .main-flow-style { grid-template-columns: repeat(auto-fill, minmax(calc(12vw + 60px), auto)); }
	.block-main> .main-flow-style> figure {
		margin-left: var(--spacing);
		margin-right: var(--spacing);
	}
}

[class^="main-flow"]> .block-main> [class^="main-cover"] {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	width: auto;
	padding-bottom: 100%;
}
.main-flow-list> .block-main> .main-cover {
	---: calc(var(--spacing) * -1);
	margin-top: var(---);
	margin-left: var(---);
	margin-right: var(---);
	padding-bottom: 60%;
}

[class^="main-flow"]> .block-main> figcaption.main-title {
	font-size: 1.1em;
	font-weight: 600;
}

[class^="main-flow"]> .block-main> .main-text {
	display: block;
	font-size: 90%;
	color: #888888;
}

[class^="main-flow"]> .block-main> .main-user {
	margin-bottom: 0;
	overflow-x: hidden;
}
[class^="main-flow"]> .block-main> .main-user> img {
	width: 30px;
	height: 30px;
}
[class^="main-flow"]> .block-main> .main-user> span {
	font-size: 90%;
}
