/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.dialog-mask {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	
	display: none;
	width: 100%;
	height: 100%;
	
	content: "";
	
	background-color: #00000066;
}
.dialog-mask.block-active { display: block; }
.dialog-mask> .dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	
	min-width: 160px;
	width: max-content;
	max-width: 80%;
	border: 1px solid #cccccc;
	padding: 10px;
	
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #00000033;
}

.dialog> .dialog-close {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(50%) translateY(-50%);
	
	width: 20px;
	height: 20px;
	
	background-color: #ff441166;
	cursor: pointer;
	transition: background-color 0.3s;
}
.dialog> .dialog-close:hover { background-color: #ff4411; }
