/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#overlay-dialog {
	position: fixed;
	z-index: 2;
	pointer-events: none;
}
#overlay-dialog> .dialog-layer {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	display: flex;
	padding: 20px calc((100% - var(--body-width)) / 2);
	
	flex-direction: column;
	align-items: center;
	gap: 20px;
	overflow: hidden auto;
	
	background-color: #00000066;
	pointer-events: auto;
}
#overlay-dialog> .dialog-layer:not(.block-active) { display: none; }

#overlay-dialog> .dialog-layer> *:first-child {
	margin-top: auto;
}
#overlay-dialog> .dialog-layer> *:last-child {
	margin-bottom: auto;
}

#overlay-dialog> .dialog-layer> .dialog {
	position: relative;

	min-width: 160px;
	max-width: 90%;
	padding: 20px;
	
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #00000033;
}

#overlay-dialog> .dialog-layer> .dialog> .dialog-close {
	float: right;
	
	margin: 0;
	padding: 5px;
	
	font-size: 22px;
	
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
#overlay-dialog> .dialog-layer> .dialog> .dialog-close:hover {
	background-color: #eeeeee;
	color: #ff4411;
}
@media screen and (max-width: 540px) {
	#overlay-dialog> .dialog-layer> .dialog> .dialog-close {
		font-size: 20px;
	}
}
