/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#mask-toast {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3;
	
	display: flex;
	width: 80%;
	height: 40%;
	
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: hidden;
	
	pointer-events: none;
}

#mask-toast> .toast {
	margin-bottom: 10px;
	min-width: 120px;
	max-width: 480px;
	border-left: 5px solid #ff8866;
	padding: 5px;
	
	overflow-wrap: anywhere;
	
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #00000033;
	pointer-events: auto;
	animation: toast-in 0.3s 1;
}
#mask-toast> .toast.toast-clear {
	animation: toast-out 0.5s 1;
}
@keyframes toast-in {
	0% { transform: translateX(100%); opacity: 0.4; }
	100% { transform: translateX(0); opacity: 1.0; }
}
@keyframes toast-out {
	0% { transform: translateX(0); opacity: 1.0; }
	60% { transform: translateX(100%); }
	100% { opacity: 0.0; }
}
