/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#overlay-dialog {
	position: fixed;
	z-index: 2;
	pointer-events: none;
}
#overlay-dialog> .dialog-layer {
	position: fixed;
	left: 0;
	top: 0;
	
	display: flex;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	
	flex-direction: column;
	align-items: center;
	gap: 20px;
	overflow: hidden auto;
	
	background-color: #00000066;
	pointer-events: auto;
}
#overlay-dialog> .dialog-layer:not(.block-active) { display: none; }

#overlay-dialog> .dialog-layer> :first-child {
	margin-top: auto;
}
#overlay-dialog> .dialog-layer> :last-child {
	margin-bottom: auto;
}

#overlay-dialog> .dialog-layer> .dialog {
	min-width: 160px;
	width: max-content;
	max-width: 80%;
	border: 1px solid #cccccc;
	padding: 10px;
	
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #00000033;
}

#overlay-dialog> .dialog-layer> .dialog> .dialog-close {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(50%) translateY(-50%);
	
	width: 20px;
	height: 20px;
	
	background-color: #ff441166;
	cursor: pointer;
	transition: background-color 0.3s;
}
#overlay-dialog> .dialog-layer> .dialog> .dialog-close:hover { background-color: #ff4411; }
