/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#nav {
	position: relative;
	
	display: flex;
	height: 70px;
	padding: 0 var(--body-padding);
}
#nav> .nav-main, #nav> .nav-side {
	display: flex;
	align-items: center;
}
#nav> .nav-main {
	flex-grow: 1;
}

#nav> *, #nav> *> * {
	flex-shrink: 0;
}
#nav> *> * {
	margin-left: 10px;
	margin-right: 10px;
}
#nav> *:first-child> *:first-child {
	margin-left: 0;
}
#nav> *:last-child> *:last-child {
	margin-right: 0;
}

#nav .nav-logo {
	margin-right: 20px;
	height: 40px;
}
@media screen and (max-width: 540px) {
	#nav .nav-logo { margin-right: 10px; }
}

#nav .nav-item {
	margin-left: 0;
	margin-right: 0;
	padding: 5px 10px;
	
	font-weight: 300;
	
	cursor: pointer;
	transition: font-size 0.3s, color 0.3s;
}
#nav .nav-item.block-active { font-weight: 600; }
#nav .nav-item:not(.block-active):hover { color: #ff4411; }

#nav .nav-item:is([class^="icon-"], [class*=" icon-"]) {
	font-size: 22px;
}
@media screen and (max-width: 540px) {
	#nav .nav-item:is([class^="icon-"], [class*=" icon-"]) {
		font-size: 20px;
	}
}

#nav .nav-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	
	background-color: #eeeeee;
	user-select: none;
}

@media screen and (max-width: 540px) {
	#nav {
		height: 60px;
		border-bottom: 2px solid #ff4411;
	}
	#nav .nav-item {
		padding-left: 5px;
		padding-right: 5px;
	}
	#nav> .nav-main> .nav-item {
		align-self: flex-end;
	}
	#nav> .nav-main> .nav-item.block-active {
		border-bottom: 3px solid #ff4411;
		padding-bottom: 2px;
		
		font-size: 150%;
		font-weight: 500;
	}
}
