/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#player {
	position: relative;
	
	display: flex;
	height: 80px;
	padding: 0 var(--body-padding);
}
@media screen and (max-width: 540px) {
	#player {
		height: 70px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

#player> *, #player> *> * {
	flex-shrink: 0;
}

#player> .player-top {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transform: translateY(-50%);
	
	width: 100%;
	padding: 5px 80px 5px 0;
	
	overflow: hidden;
	
	cursor: pointer;
	user-select: none;
}
#player> .player-top:active {
	cursor: ew-resize;
}

#player> .player-top> .player-progress {
	position: relative;
	
	display: block;
	width: 80px;
	height: 18px;
	border-radius: 10px;
	
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	white-space: nowrap;
	
	background-color: #333333;
	color: #f7f7f7;
	box-shadow: 2px 2px 5px #00000033;
}

#player> .player-top> .player-progress::before, #player> .player-top> .player-progress::after {
	position: absolute;
	top: 50%;
	z-index: -2;
	transform: translateY(-50%);
	
	width: 100vw;
	border-top: 2px solid;
	
	content: "";
}
#player> .player-top> .player-progress::before {
	right: 100%;
	border-top-color: #ff4411;
}
#player> .player-top> .player-progress::after {
	left: 100%;
	border-top-color: #cccccc;
}
#player> .player-top::before {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	
	width: 6vw;
	height: 100%;
	
	content: "";
	background-image: linear-gradient(to right, #ffffff, transparent);
}
@media screen and (max-width: 800px) {
	#player> .player-top::before {
		display: none;
	}
}

#player> .player-side, #player> .player-control {
	display: flex;
	align-items: center;
}
#player> .player-side {
	flex-basis: 0;
	flex-grow: 1;
}
#player> .player-side:last-child { justify-content: flex-end; }

#player> *> .player-cover {
	position: relative;
	
	margin-right: 5px;
	width: 80px;
	height: 80px;
	
	background-color: #eeeeee;
	object-fit: contain;
}
#player> *> .player-cover::before {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	
	content: "";
	background-image: url("image-broken.svg");
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #eeeeee;
}
@media screen and (max-width: 540px) {
	#player> *> .player-cover {
		margin-left: -5px;
		width: 70px;
		height: 70px;
	}
}

#player> *> .player-info {
	margin-left: 5px;
	margin-right: 5px;
	width: 140px;
	flex-grow: 1;
	
	overflow: hidden;
}
#player> *> .player-info> span {
	display: block;
	
	overflow: hidden;
	
	white-space: nowrap;
	text-overflow: ellipsis;
}
#player> *> .player-info> span:last-child {
	margin-top: 5px;
	
	font-size: 0.8em;
	font-weight: 300;
	
	color: #888888;
}
@media screen and (max-width: 800px) {
	#player> *> .player-info {
		width: 120px;
		font-size: 90%;
	}
}
@media screen and (max-width: 540px) {
	#player> *> .player-info {
		width: 100px;
	}
	#player> *> .player-info> span {
		width: max-content;
		animation: 5.0s linear infinite player-scroll;
	}
	@keyframes player-scroll { /* 5.0s */
		0% { transform: translateX(0); }
		40% { transform: translateX(0); }
		80% { transform: translateX(min(100px - 100%, 0px)); }
		100% { transform: translateX(min(100px - 100%, 0px)); }
	}
}

#player> *> .player-item {
	padding: 5px 10px;
	font-size: 20px;
	cursor: pointer;
}
@media screen and (max-width: 540px) {
	#player> *> .player-item {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 18px;
	}
}

#player> *> .player-control-center {
	margin-left: 5px;
	margin-right: 5px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	
	background-color: #ff4411;
	color: #ffffff;
	cursor: pointer;
}
#player> *> .player-control-side {
	padding: 5px 10px;
	font-size: 26px;
	cursor: pointer;
}
@media screen and (max-width: 540px) {
	#player> *> .player-control-center {
		width: 36px;
		height: 36px;
		
		font-size: 24px;
		line-height: 36px;
	}
	#player> *> .player-control-side {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 20px;
	}
}

@media screen and (max-width: 540px) {
	#player> *> .player-dispensable {
		display: none;
	}
}
