/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#nav {
	position: relative;
	
	display: flex;
	height: 70px;
	padding: 0 var(--body-padding);
	align-items: center;
	overflow: hidden;
}

#nav> .nav-logo {
	margin-right: 20px;
	height: 40px;
	flex-shrink: 0;
}
@media screen and (max-width: 540px) {
	#nav> .nav-logo { margin-right: 10px; }
}

#nav .nav-item {
	padding: 5px 10px;
	cursor: pointer;
	transition: color 0.3s;
}
#nav .nav-item:is([class^="icon-"], [class*=" icon-"]) {
	font-size: 20px;
}
#nav .nav-item.block-active { font-weight: 600; }
#nav .nav-item:not(.block-active):hover { color: #ff4411; }

#nav .nav-avatar {
	margin: 0 5px;
	width: 35px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 50%;
	
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	
	background-color: #eeeeee;
	user-select: none;
}

#nav> .nav-side {
	flex-grow: 1;
	display: flex;
	margin-left: 5px;
	
	justify-content: flex-end;
	align-items: center;
}

@media screen and (max-width: 540px) {
	#nav {
		border-bottom: 2px solid #ff4411;
		align-items: flex-end;
	}
	#nav> .nav-logo, #nav> .nav-side {
		align-self: center;
	}
	#nav .nav-item {
		padding-left: 5px;
		padding-right: 5px;
	}
	#nav .nav-item.block-active {
		border-bottom: 3px solid #ff4411;
		padding-bottom: 2px;
		
		font-size: 150%;
		font-weight: 500;
	}
}
