/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#player {
	height: 80px;
}

#player> .player-top {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transform: translateY(-50%);
	
	width: 100%;
	padding: 5px 40px;
	
	overflow: hidden;
	
	cursor: ew-resize;
	user-select: none;
}
#player> .player-top> .player-progress {
	position: relative;
	transform: translateX(-50%);
	
	display: block;
	width: 80px;
	height: 16px;
	border-radius: 10px;
	
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	white-space: nowrap;
	
	background-color: #333333;
	color: #f7f7f7;
	box-shadow: 2px 2px 5px #00000033;
}
#player> .player-top> .player-progress::before, #player> .player-top> .player-progress::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	
	width: 100vw;
	border-top: 2px solid #cccccc;
	
	content: "";
}
#player> .player-top> .player-progress::before {
	right: 100%;
	border-top-color: #ff4411;
}
#player> .player-top> .player-progress::after {
	left: 100%;
}

#player> .player-side {
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	align-items: center;
}
#player> .player-side:last-child { justify-content: flex-end; }
#player> .player-control {
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	align-items: center;
}

#player .player-cover {
	position: relative;
	
	margin-right: 5px;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	
	background-color: #eeeeee;
	object-fit: contain;
}
#player .player-cover::before {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	
	content: "";
	background-image: url("image-broken.svg");
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #eeeeee;
}

#player .player-info {
	margin: 0 5px;
	max-width: 140px;
	overflow: hidden;
}
#player .player-info> span {
	display: block;
	margin-bottom: 5px;
	width: max-content;
	white-space: nowrap;
}
#player .player-info> span:nth-child(2) {
	font-size: 0.8em;
	color: #888888;
}

#player .player-item, #player .player-control-side {
	padding: 5px 10px;
	font-size: 24px;
	cursor: pointer;
}
#player .player-item {
	font-size: 20px;
}
@media screen and (max-width: 540px) {
	#player .player-item, #player .player-control-side {
		padding-left: 5px;
		padding-right: 5px;
	}
}

#player .player-control-center {
	margin: 0 5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	
	font-size: 34px;
	line-height: 50px;
	text-align: center;
	
	background-color: #ff4411;
	color: #ffffff;
	cursor: pointer;
}

@media screen and (max-width: 540px) {
	#player {
		height: 70px;
	}
	#player .player-cover {
		width: 70px;
		height: 70px;
	}
	#player .player-info {
		width: 100px;
		font-size: 90%;
	}
	#player .player-info> span {
		animation: player-scroll 4s linear infinite;
	}
	#player .player-control-center {
		width: 40px;
		height: 40px;
		
		font-size: 28px;
		line-height: 40px;
	}
}
@keyframes player-scroll {
	0% { transform: translateX(0); }
	40% { transform: translateX(0); }
	90% { transform: translateX(-100%); }
	100% { transform: translateX(-100%); }
}
