@font-face {
	font-family: "PlayerIcons";
	src: url('./player.woff2') format('woff2'),
		url('./player.ttf') format('truetype'),
		url('./player.svg#player') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon, :is([class^="icon-"], [class*=" icon-"])::before {
	font-family: "PlayerIcons";
	font-style: normal;
	font-variant: none;
	font-weight: normal;
	text-transform: none;
	
	speak: never;
	user-select: none;
}

:is([class^="icon-"], [class*=" icon-"])::before {
	display: inline-block;
	width: 1.0em;
	
	line-height: 1.0em;
	text-align: center;
	text-decoration: none;
}
:is([class^="icon-"], [class*=" icon-"]):empty {
	line-height: 1.0em;
}
:is([class^="icon-"], [class*=" icon-"]):not(:empty)::before {
	margin-right: 0.2em;
}

.icon-more:before { content: '\2026'; } /* '…' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-next-track:before { content: '\23ed'; } /* '⏭' */
.icon-last-track:before { content: '\23ee'; } /* '⏮' */
.icon-pause:before { content: '\23f8'; } /* '⏸' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-circle:before { content: '\25cf'; } /* '●' */
.icon-database:before { content: '\25d9'; } /* '◙' */
.icon-heart:before { content: '\2661'; } /* '♡' */
.icon-heart-fill:before { content: '\2665'; } /* '♥' */
.icon-edit:before { content: '\270f'; } /* '✏' */
.icon-success:before { content: '\2713'; } /* '✓' */
.icon-error:before { content: '\2715'; } /* '✕' */
.icon-warning:before { content: '\2757'; } /* '❗' */
.icon-add:before { content: '\2795'; } /* '➕' */
.icon-dismiss:before { content: '\2796'; } /* '➖' */
.icon-volume:before { content: '🔉'; } /* '\1f509' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-link:before { content: '🔗'; } /* '\1f517' */
